{{!-- {{message}} não tá passando message --}}
<img src="{{userFound.profileImg}}" alt="{{userFound.name}} profile picture" width="300">
<h2>Welcome, {{userFound.name}}</h2>
{{userFound.role}}<br>
{{userFound.username}}<br>
{{userFound.birthDate.day}}/{{userFound.birthDate.month}}/{{userFound.birthDate.year}}<br>
{{userFound.phone}}<br>
{{userFound.email}}<br>
{{userFound.languages}}<br>
{{userFound.interests}}<br>
{{userFound.about}}<br>
{{#if isGuide}}
  <a href="/itinerary/create">Create Itinerary</a>
{{/if}}
<a href="/auth/edit/{{userFound._id}}">Edit profile</a>
<a href="/auth/logout">Logout</a>
<br>
<h2>My itineraries</h2>
{{#each userFound.itineraries}}
  {{name}} - {{city}} - {{date}} - <a href="/itinerary/itinerary/{{_id}}">View</a><br>
  {{#if ../isGuide}}
    <a href="/itinerary/edit/{{_id}}">Edit</a><br>
    <button id="deleteBtn-{{_id}}">Delete</button>
  {{/if}}
{{/each}}
