<nav>
  <div class="nav-left">
    <h2><a href="/">Voluntouring</a></h2>
    <span id="hamburger"><b>MENU</b></span>
  </div>
  <div class="nav-right">
    <ul id="lista">
      {{#if user}}
      <li><a href="/auth/profile/{{user.id}}">My profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      {{else}}
      <li><a href="/auth/guide-signup">Become a guide</a></li>
      <li><a href="/auth/tourist-signup">Sign in as a tourist</a></li>
      <li><a href="/auth/login">Login</a></li>
      {{/if}}
    </ul>
  </div>
</nav>


<main class="content-container">

  <h2>Create new itinerary</h2>

  <form class="form-full" action="/itinerary/create" method="POST" id="create-itinerary-form">
    <label for="name" class="search-form-fields">ITINERARY NAME:</label>
    <input id="name" type="text" name="name" placeholder="Itinerary name" class="search-form-text-input" required>
    <label for="city" class="search-form-fields">CITY:</label>
    <input type="text" name="city" id="city-search" class="search-form-text-input" required>
    <label for="birthDate" class="search-form-fields">DATE:</label>
    <input type="date" name="date" class="search-form-text-input" required>
    <label for="description" class="search-form-fields">DESCRIPTION:</label>
    <p class="guide-about-me">Use this field for more information about the itinerary, such as estimated ticket prices of the places to be
      visited, dress code, what to take, your level of proficiency in the language, among other important information so
      that the experience provided to the tourists is the best possible.</p>
    <textarea name="description" id="description" class="signup-guide-text-area"></textarea>
    <label for="capacity" class="search-form-fields">CAPACITY:</label>
    <input type="text" name="capacity" placeholder="ex.: 10" class="search-form-text-input" required>

    <label class="search-form-fields">ITINERARY LANGUAGES:</label>
    {{#each user.languages}}
    <div class="categories-checkbox">
      <input id="{{this}}" type="checkbox" name="languages" value="{{this}}" checked><label for="{{this}}">
        {{this}}</label>
    </div>
    {{/each}}

    <label class="search-form-fields">CATEGORIES:</label>
    {{#each categories}}
    <div class="categories-checkbox">
      <input id="{{this}}" type="checkbox" name="categories" value="{{this}}"><label for="{{this}}">
        {{this}}</label>
    </div>
    {{/each}}


    {{#if message}}
    <div>{{ message }}</div>
    {{/if}}
    <div class="pac-card" id="pac-card">
      <div>
        <div id="title">
          Search
        </div>
      </div>
      <div id="pac-container">
        <input id="pac-input" type="text" placeholder="Enter a location">
      </div>
    </div>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name" class="title"></span>
      <span id="place-address"></span>
    </div>

    <select name="hours" id="place-hours">
      <option value="" selected disabled>Hours</option>
      {{#each hours}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <select name="minutes" id="place-minutes">
      <option value="" selected disabled>Minutes</option>
      {{#each minutes}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <button id="add-place" class="create-btn">Add place</button>

    <div id="itineraty-summary"></div>

    <button type="submit" class="search-btn">Create itinerary</button>
    {{!-- <div id="map2"></div> --}}
    <div id="close-modal">X</div>
    <div id="alert-message"></div>


  </form>
</main>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleKey}}&libraries=places"></script>
<script src="/js/script.js"></script>