<h2>Create new itinerary</h2>

<form class="form-full" action="/itinerary/create" method="POST" id="create-itinerary-form">
  <label for="name">Itinerary name:</label>
  <input id="name" type="text" name="name" placeholder="Itinerary name" required>
  <br><br>
  <label for="city">City:</label>
  <input type="text" name="city" id="city-search" required>
  <br><br>
  <label for="birthDate">Date:</label>
  <input type="date" name="date" required>
  <br><br>
  <label for="description">Description:</label>
  <p>This field is...</p>
  <textarea name="description" id="description" cols="150" rows="7"></textarea>
  <br><br>
  <label for="capacity">Capacity:</label>
  <input type="text" name="capacity" placeholder="ex.: 10" required>

  <p>Itinerary languages:<br>
    {{#each user.languages}}
      <input type="checkbox" name="languages" value="{{this}}" checked>{{this}}
    {{/each}}
  </p>

  <p>Categories:<br>
    {{#each categories}}
      <input type="checkbox" name="categories" value="{{this}}">{{this}}
    {{/each}}
  </p>


  {{#if message}}
    <div>{{ message }}</div>
  {{/if}}
  <div class="pac-card" id="pac-card">
    <div>
      <div id="title">
        Search
      </div>
    </div>
    <div id="pac-container">
      <input id="pac-input" type="text" placeholder="Enter a location">
    </div>
  </div>
  <div id="map"></div>
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
  </div>

  <select name="hours" id="place-hours">
    <option value="" selected disabled>Hours</option>
    {{#each hours}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <select name="minutes" id="place-minutes">
    <option value="" selected disabled>Minutes</option>
    {{#each minutes}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <br><br>
  <button id="add-place">Add place</button>
  <br><br>
  <div id="itineraty-summary"></div>
  <br><br>
  <button>Create itinerary</button>
  {{!-- <div id="map2"></div> --}}

  <div id="alert-message"
    style="width: 20%; height: 20%; background: #000; display: none; position: absolute; top: 0; left: 0; color: #fff; justify-content: center; align-items: center">
  </div>


</form>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{googleKey}}&libraries=places"></script>
<script src="/js/script.js"></script>