<img src="{{profileImg}}" alt="{{name}} profile picture">
<h2>Welcome, {{name}}</h2>
{{role}}<br>
{{username}}<br>
{{birthDate}}<br>
{{phone}}<br>
{{email}}<br>
{{languages}}<br>
{{interests}}<br>
{{about}}<br>
<a href="/auth/edit/{{_id}}">Edit profile</a>
